
<section class="max-w-6xl mx-auto px-8 md:px-16">
    <div class="my-16 md:my-24 flex justify-center">
        <h1 class="text-2xl md:text-3xl relative">
            <span class="absolute w-16 h-16 bg-yellow-200 -z-10 rounded-full -top-3 -left-6"></span>
            Build awesome data models
        </h1>
    </div>
    
    <div class="flex flex-col md:flex-row md:mt-16 md:mb-32">
        
        <div class="flex-1 flex justify-center">
            <div class="w-64 h-64 1-z-10 rounded-full border-4 border-blue-200 flex items-center justify-center">
                <img src="/simple-pipeline.svg" class="h-32 w-32">
            </div>
        </div>
        
        <div class="flex-1 [&>p]:my-4 md:[&>p]:pr-32 pt-8 md:pt-0">
            <p>dbt is the tool for <span class="font-bold">data modeling</span> that can help data analysts and data engineers build reliable, maintainable and scalable data models.</p>
            <p>This coaching program will teach you everything you need to know to get started with dbt <span class="font-bold">from scratch</span>.</p>
            <p>Whether you are new to dbt or or just started using it recently, this program is for you.</p>
        </div>
    
    </div>

</section>
