
<section class="max-w-6xl mx-auto px-8 md:px-16 my-16">
    <div class="my-16 md:my-24 flex justify-center">
        <h1 class="text-2xl md:text-3xl relative">
            <span class="absolute w-16 h-16 bg-blue-200 -z-10 rounded-full -top-3 -left-6"></span>
            Meet your instructor
        </h1>
    </div>
    
    <div class="flex flex-col md:flex-row md:mt-16 md:mb-32">
        
        <div class="flex-1 flex justify-center">
            <div class="w-64 h-64 1-z-10 rounded-full border-4 border-yellow-400 flex items-center justify-center">
                <img src="/images/oleg_avatar.jpeg" class="rounded-full">
            </div>
        </div>
        
        <div class="flex-1 [&>p]:my-4 md:[&>p]:pr-32 pt-8 md:pt-0 [&>p]:text-gray-800">
            <p>
                Oleg is an experienced Analytics Engineer with over 12 years in data analytics and engineering, including more than 3 years of specialized experience with dbt. 
            </p> 
            <p>
                He's passionate about teaching others how to use dbt to build reliable, scalable, well-tested, and thoroughly documented data models.
            </p>
            
            <span class="text-blue-700 [&>a]:underline">
                <img src="/icon-linkedin.svg" class="h-6 w-6 inline-block mr-1">
                <a target="_blank" href="https://www.linkedin.com/in/oleg-agapov/">LinkedIn</a>
                <img src="/icon-email.svg" class="h-5 w-5 inline-block mr-1 ml-4">
                <a target="_blank" href="https://dbtips.substack.com/">My newsletter</a>
            </span>
            
        </div>
    
    </div>

</section>
