---
import Header from "../basic/Header.astro";
import CodeExample from "../course/CodeExample.astro";
import { coachingRequestForm } from "../../coachingContent";
---

<section class="bg-yellow-300 min-h-screen1">
  <Header />
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row px-8 md:px-16 pb-16">
    <div class="md:w-3/4 lg:flex-1 my-16 md:my-20 lg:my-24 2xl:my-32">
      <div class="md:pr-12">
        <h1 class="text-4xl">Coaching program<br/>"dbt for beginners"</h1>
        <div class="my-8"></div>
        <p class="text-gray-800">
          
          Learn how world-class data teams use dbt <img src="/dbt-logo.svg" class="inline-block h-4 w-4"> to build reliable, maintainable, and scalable analytics.</p>
        <div class="my-16"></div>
        <a href={coachingRequestForm} target="_blank" class="p-3 px-5 rounded bg-blue-500 hover:bg-blue-400 text-white">Enroll now</a>
        <span class="mx-2"></span>
        <a href="#scroll" class="p-3 px-5 rounded bg-yellow-200 hover:bg-yellow-100 text-yellow-600">See program</a>

      </div>
    </div>
    <div class="flex-1 flex items-center">
      <div class="hidden w-full lg:block md:px-16">
        <CodeExample />
      </div>
    </div>
  </div>
</section>

