---
import ScreenSize from "./ScreenSize.astro";

let visibility = false

if (`${import.meta.env.MODE}` === "development") {
    visibility = true
}
---

<header>
    <div class="max-w-6xl mx-auto px-8 md:px-16">
        <div class="flex items-center justify-between h-16">
            <h1 class="text-sm tracking-wide">
                dbt for beginners
            </h1>
            {visibility && <ScreenSize />}
        </div>
    </div>
</header>
