

<span class="font-bold">
    <div class="block  sm:hidden md:hidden lg:hidden xl:hidden">XS</div>
    <div class="hidden sm:block  md:hidden lg:hidden xl:hidden">SM</div>
    <div class="hidden sm:hidden md:block  lg:hidden xl:hidden">MD</div>
    <div class="hidden sm:hidden md:hidden lg:block  xl:hidden">LG</div>
    <div class="hidden sm:hidden md:hidden lg:hidden xl:block">XL</div>
  </div>
</span>